.card{
    width: 272px;
    background-color: #101204;
    border-radius: 12px;
    box-shadow: var(--ds-shadow-raised, 0px 1px 1px #101204, 0px 0px 1px #091e424f);
    padding: 8px;
    color: #B6C2CF;
    padding: 8px;
    height: 100%;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
  }

  .title h1{
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 8px 6px 12px;
    width: 224px;
  }

  .title p{
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 8px;
  }

  form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 4px;
    color: #9fadbc;
  }

  .input-div{
    display: flex;
    align-items: center;
    padding: 6px 12px 6px 8px;
    user-select: none;
    justify-content: flex-start;
    flex-grow: 1;
    margin: 0;
  }
  
  .input-div:hover{
    background-color: #282f27;
    cursor: pointer;
    border-radius: 8px;
  }

  .input-div input{
    background-color: transparent;
    border: none;
    color: #9fadbc;
    font-size: 14px;
    font-weight: 500;
    outline-style: none;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0 ;
  }

  .input-div p{
    background-color: transparent;
    color:#9fadbc;
    border: none;
    font-size: 14px;
    font-weight: 500;
    width: 25px;
  }

  .tasks{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 2px 4px;
  }

  .tasks .task{
    padding: 8px 12px 4px;
    min-height: 24px;
    color: rgb(159, 173, 188);
    background-color:#22272b;
    border-radius: 8px;
    height: 100%;
    border: 2px solid transparent;
}



  .tasks .task:hover{
    border: 2px solid #85b8ff;
    cursor: pointer;
  }


  .tasks .task h5{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #b6c2cf;
  }